<!DOCTYPE html>
<html>
<head>
  <title>Oskar's Homepage</title>
  {% include 'head.html' %}

  <script>
    var aCardIsFocused = 0;
    function onClickCard(id) {
      console.log("clicked id:" + id);
      // Get the elements
      let b = document.getElementById('blocker');
      let c = document.getElementById("card-"+id);
      let d = document.getElementById("card-container");
      let front = document.getElementById("card-front-"+id);
      let back = document.getElementById("card-back-"+id);

      // Toggle enhanced
      if (/enhanced/.test(c.className)) {
        aCardIsFocused = 0;
        front.classList.remove('hidden');
        back.classList.add('hidden');
        b.className = 'hidden';
        c.classList.remove('enhanced');
        d.classList.remove('widthify');
      } else {
        aCardIsFocused = 1;
        front.classList.add('hidden');
        back.classList.remove('hidden');
        b.className = '';
        c.classList.add('enhanced');

        let bodyRect = document.body.getBoundingClientRect();
        let elemRect = c.getBoundingClientRect();
        let offset = elemRect.left - bodyRect.left;

        d.classList.add('widthify');
        d.scrollBy(offset-20,0);
        //console.log('elemRect.left: ' + elemRect.left + ', elemRect.right: ' + elemRect.right + ', offset: ' + offset);

      }
    }
  </script>
</head>

<body id="datBodyDough">
<!-- Oh girl, look at my body! -->
  <div id="wrapper">
    {% include 'header.html' %}
    <div id="blocker" class="hidden"></div>
      <div id="card-container" class="container">
        {% for card in cards %}
        <div id="card-{{card._id}}" class="card card-size" onclick="onClickCard({{card._id}})">
          <!-- The things both sides have in common -->
          <div class="card-top">
            <h1>{{card._title}}</h1>
            <img class ="card-top-image" src="../static/images/{{card.get_header_image()[0]}}" alt="{{card.get_header_image()[1]}}">
          </div>
          <div class="card-bottom">
          <div id="card-front-{{card._id}}" class="card-front">
            <p class="description">{{card._description}}</p>
          </div>

          <div id="card-back-{{card._id}}" class="card-back hidden">
            {% for text in card._text %}
            <p class="text">{{text}}</p>
            {% endfor %}
          </div>


          </div>
        </div>
        {% endfor %}
        {% include 'pusher.html' %}
      </div>
    {% include 'footer.html' %}
  </div>
<!-- Script for vertical scrolling the card-container -->
<script>
  let d = document.getElementById("card-container");
  if (d.addEventListener) {
	// IE9, Chrome, Safari, Opera
	d.addEventListener("mousewheel", MouseWheelHandler, false);
	// Firefox
	d.addEventListener("DOMMouseScroll", MouseWheelHandler, false);
  }
  // IE 6/7/8
  else d.attachEvent("onmousewheel", MouseWheelHandler);

  function MouseWheelHandler(e) {
  	// cross-browser wheel delta
    if (aCardIsFocused === 0) {
    	var e = window.event || e; // old IE support
    	var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

      let d = document.getElementById("card-container");
      d.scrollBy(-(delta*30),0);
    	return false;
    } else {
      return true;
    }
  }
</script>
{% if n != None %}
<script>
  onClickCard({{cards[n]._id}})
</script>
{% endif %}
</body>

</html>
