* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  background-color: rgba(0, 180, 255, 1);
  height: 100%;
  width: 100%;
}

h1 {
  text-transform: capitalize;
}

[class*="col-"] {
    float: left;
}

#blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  overflow: hidden;
}

#blocker:hover {
  cursor: pointer;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.33%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}

[class*="row-"]::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
  visibility: hidden;
  display: none;
}

.card-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
}

.card {
  background-color: snow;
  height: 80%;
  margin: 2%;
  min-width: 20%;
  max-height: 32em;
  overflow: hidden;
  text-align: center;
  border: 10px solid snow;
  border-radius: 10px;
  -webkit-box-shadow: 0.5em 0.5em 0.3em rgba(0,0,0,0.3);
  box-shadow: 0.5em 0.5em 0.3em rgba(0,0,0,0.3);

  -webkit-transition: max-height 1s ease, height 1s ease, min-width 1s ease;
  -moz-transition: max-height 1s ease, height 1s ease, min-width 1s ease;
  -o-transition: max-height 1s ease, height 1s ease, min-width 1s ease;
  transition: max-height 1s ease, height 1s ease, min-width 1s ease;
}

@media screen and (max-width: 900px) {
    .card {
        min-width: 75%;
    }
}

/* I AM SO SORRY */
.card-size-full {
  width: 100%;
  min-height: 90%;
  margin: 2% !important;
  -webkit-box-shadow: 23px 23px 17px rgba(0,0,0,0.2) !important;
  box-shadow: 23px 23px 17px rgba(0,0,0,0.2) !important;
  cursor: unset !important;
  overflow-y: auto;
}

.card:hover {
  cursor: pointer;

  margin-top: -1em;
  -webkit-box-shadow: 1.5em 1.5em 1.3em rgba(0,0,0,0.2);
  box-shadow: 1.5em 1.5em 1.3em rgba(0,0,0,0.2);
}

.card-top {
  height: 40%;
  width: 100%;
  background-color: turquoise;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 2%;
}

.card-bottom {
  height: 60%;
  width: 100%;
  padding: 2%;
}

.card-back-text {
  text-align: justify;
}
.card-back-link {
    color: black;
    text-decoration: none;
}
.card-back-link:hover {
    text-decoration: underline;
}

.description {
  text-align: center;
}

.header {
  height: 100%;
  min-height: 3em;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: snow;
}

.header a {
  color: black;
  text-decoration: none;
  margin: 2%;
}

.header a:hover {
  text-decoration: underline;
}

.footer {
  height: 100%;
  min-height: 3em;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: snow;
}

.footer p {
  margin-left: 2%;
}

.enhanced {
  max-height: 100%;
  height: 100%;
  min-width: 70%;
  overflow: auto;
  z-index: 2;
  margin-top:2% !important; /* YOU JUMP WHEN I TELL YOU TO*/
  -webkit-box-shadow: 1.5em 1.5em 1.3em rgba(0,0,0,0.2);
  box-shadow: 1.5em 1.5em 1.3em rgba(0,0,0,0.2);
}

.enhanced:hover {
  cursor: unset !important;
}

.card-minimize {
  float: right;
  border: 1px solid black;
  width: 5em;
}
.card-back {
  width: 100%;
  max-width: 50em;
  padding: 2em;
  margin: 0 auto;
}

#thank-you {
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(100, 100, 130);
  margin-left: 2%;
}

#thank-you>div {
  margin-top: 20%;
  padding: 0;
}

#thank-you p {
  color: snow;
  text-align: center;
  font-size: 2em;
}


.card-close {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

#details ul{
    list-style-type: none;
}
