<!DOCTYPE html>
<html>
<head>
  <title>Oskar's Homepage</title>
  {% include 'head.html' %}
  <script src="../static/js/card.js"></script>
</head>
<body>
  {% include 'header.html' %}
  <div class="row-10">
    <div id="card-container" class="col-12 card-container">
    <div id="blocker" class="hidden" onclick="closeCard()">
    </div>
        {% for card in cards %}
        <div id="card-{{card._id}}" class="col-3 card" onclick="openCard({{card._id}})">
          <div class="card-top" style="background-image: url(../static/images/{{card.get_header_image()}})">
          </div>
          <div class="card-bottom">
            <h1>{{card._title}}</h1>
            <div id="card-front-{{card._id}}" class="card-front">
              <p class="description">{{card._description}}</p>
            </div>
            <div id="card-back-{{card._id}}" class="card-back hidden">
              {% for what, c in card._content|batch(2)%}
                {% if what == 'p' %}
                <p class="text">{{c}}</p>
                {% elif what == 'img' %}
                <img src="../static/images/{{c.href}}" alt="{{c.alt}}">
                <p class "image-text">{{c.image_text}}</p>
                {% elif what == 'li' %}
                <a href="{{c.href}}" alt="{{c.alt}}" target="_blank">{{c.alt}}</a>
                {% endif %}
              {% endfor %}
              <a class="card-close" href="javascript:closeCard()">Close Card</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <div id="thank-you">
          <div>
            <p>Thank you for scrolling through!</p>
          </div>
          {% include 'thanks.html' %}
        </div>
    </div>
  </div>
  {% include 'footer.html' %}
  {% if n != None %}
  <script>
    openCard({{cards[n]._id}})
  </script>
  {% endif %}
</body>

</html>
