<!DOCTYPE html>
<html>
<head>
  <title>Oskar's Homepage</title>
  {% include 'head.html' %}
  <script>
    var aCardIsFocused = -1;
    function openCard(id) {
      if (aCardIsFocused === -1 ) {
      console.log('Enhance: ' + id);
      // Get the elements
      let b = document.getElementById('blocker');
      let c = document.getElementById("card-"+id);
      let front = document.getElementById("card-front-"+id);
      let back = document.getElementById("card-back-"+id);
      let d = document.getElementById("card-container");

      // ENHANCE
      aCardIsFocused = Number(id);
      front.classList.add('hidden');
      back.classList.remove('hidden');
      b.className = '';
      c.classList.add('enhanced');
      scrollToCard(c);
      }
    }

    function closeCard() {
      console.log('Unhenhance: ' + aCardIsFocused);
      let b = document.getElementById('blocker');
      let c = document.getElementById("card-"+aCardIsFocused);
      let front = document.getElementById("card-front-"+aCardIsFocused);
      let back = document.getElementById("card-back-"+aCardIsFocused);
      let d = document.getElementById("card-container");

      aCardIsFocused = -1;
      front.classList.remove('hidden');
      back.classList.add('hidden');
      b.className = 'hidden';
      c.classList.remove('enhanced');
    }

    var scrollToCard = function(c) {
      let d = document.getElementById("card-container");
      let bodyRect = document.body.getBoundingClientRect();
      let elemRect = c.getBoundingClientRect();
      let offset = elemRect.left - bodyRect.left;

      d.scrollLeft += offset-20;
    }

    var addEvent = function(object, type, callback) {
      if (object == null || typeof(object) == 'undefined') return;
      if (object.addEventListener) {
          object.addEventListener(type, callback, false);
      } else if (object.attachEvent) {
          object.attachEvent("on" + type, callback);
      } else {
          object["on"+type] = callback;
      }
    };

    addEvent(window,"resize", function(event) {
      // aCardIsFocused is -1 if false and
      // otherwise contains the cards id
      if (aCardIsFocused !== -1) {
        scrollToCard( document.getElementById("card-" + aCardIsFocused) );
      }
    })


  </script>
</head>

<body>
<!-- Oh girl, look at my body! -->
  {% include 'header.html' %}
  <div class="row-10">
    <div id="card-container" class="col-12 card-container">
    <div id="blocker" class="hidden" onclick="closeCard()">
    </div>
        {% for card in cards %}
        <div id="card-{{card._id}}" class="col-3 card" onclick="openCard({{card._id}})">
          <div class="card-top" style="background-image: url(../static/images/{{card.get_header_image()}})">
          </div>
          <div class="card-bottom">
            <h1>{{card._title}}</h1>
            <div id="card-front-{{card._id}}" class="card-front">
              <p class="description">{{card._description}}</p>
            </div>
            <div id="card-back-{{card._id}}" class="card-back hidden">
              {% for what, c in card._content|batch(2)%}
                {% if what == 'p' %}
                <p class="text">{{c}}</p>
                {% elif what == 'img' %}
                <img src="../static/images/{{c.href}}" alt="{{c.alt}}">
                <p class "image-text">{{c.image_text}}</p>
                {% elif what == 'li' %}
                <a href="{{c.href}}" alt="{{c.alt}}" target="_blank">{{c.alt}}</a>
                {% endif %}
              {% endfor %}
              <a class="card-close" href="javascript:closeCard()">Close Card</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <div id="thank-you">
          <div>
            <p>Thank you for scrolling through!</p>
          </div>
          {% include 'thanks.html' %}
        </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <!-- Script for vertical scrolling the card-container -->
  <script>
    let d = document.getElementById("card-container");
    if (d.addEventListener) {
  	// IE9, Chrome, Safari, Opera
  	d.addEventListener("mousewheel", MouseWheelHandler, false);
  	// Firefox
  	d.addEventListener("DOMMouseScroll", MouseWheelHandler, false);
    }
    // IE 6/7/8
    else d.attachEvent("onmousewheel", MouseWheelHandler);

    function MouseWheelHandler(e) {
    	// cross-browser wheel delta
      if (aCardIsFocused < 0) {
      	var e = window.event || e; // old IE support
      	var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));

        let d = document.getElementById("card-container");
        d.scrollLeft -= (delta*60);
      	return false;
      } else {
        return true;
      }
    }
  </script>
  {% if n != None %}
  <script>
    openCard({{cards[n]._id}})
  </script>
  {% endif %}
</body>

</html>
